{% extends "super.twig" %}
{% block title %}{{ title }}{% endblock %}
{% block section_stylessheet %}
	<link id="financing" rel="stylesheet" class="link-financing" href="{{ _host }}css/sections/financing-selection.css">
	<link id="financing-test-drive" rel="stylesheet" class="link-financing-test-drive" href="{{ _host }}css/sections/test-drive-selection.css">
{% endblock %}
{% block section %}
    <input type="hidden" id="hidden_section" value="financing">
{% endblock %}
{% block menu_patch %}    
	<div class="menu-patch" id="patch">&nbsp;</div>
{% endblock %}
{% block navbar %}
    {% embed "super_navbar.twig" %}
		{% block phone_call %}
			{#<div id="phone-call">
				<a href="tel: +013337771989">
					<span style="color: #ffffff;">
				    	Tel. 01(33)3777-1989
					</span>
				</a>
			</div>#}
		{% endblock %}
		{% block models_header %}
			{#{% embed "menus/models_menu.twig" %}{% endembed %}#}
	    {% endblock %}
    {% endembed %}
{% endblock %}
{% block content_current %}
    {% embed "financiamiento/container.twig" %}{% endembed %}
{% endblock %}
{% block footer %}
    {% embed "super_footer.twig" %}{% endembed %}
{% endblock %}
{% block script_load_js %}
{% endblock %}
{% block section_scripts %}
{% endblock %}
{% block load_scripts %}
	{#$('.seleccionar').chosen();#}
	toHtmlMethod.toHtml();
{% endblock %}